<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Criar Tarefa</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Criar Nova Tarefa</h1>
      <form action="/create" method="POST">
        <label for="titulo">Título:</label>
        <input class="mt-10" type="text" name="titulo" required />

        <label class="mt-10" for="descricao">Descrição:</label>
        <textarea class="mt-10" name="descricao" rows="5"></textarea>

        <button class="success mt-20" type="submit">Criar</button>
      </form>
    </div>
  </body>
</html>
