<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Editar Tarefa</h1>
      <form action="/edit/<%= tarefa.tarefa_id %>" method="POST">
        <label for="titulo">Título:</label>
        <input
          class="mt-10"
          type="text"
          name="titulo"
          value="<%= tarefa.titulo %>"
          required
        />

        <label class="mt-10" for="descricao">Descrição:</label>
        <textarea class="mt-10" name="descricao" rows="5">
<%= tarefa.descricao %></textarea
        >

        <button type="submit" class="success mt-20">Salvar</button>
      </form>
    </div>
  </body>
</html>
